.Main {}

.HeroSection {
  margin: 11em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: #01573e;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  cursor: default;
  text-align: center;
}

.HeroSection .subHeading {
  font-size: 0.8em;
  font-weight: 600;
}

.HeroSection .subHeading span:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}

.HeroSection .heading {
  font-size: 3em;
  font-weight: 800;
}

.HeroSection .description {
  align-self: center;
  font-size: 1em;
  font-weight: 400;
  width: 60%;
}

.HeroSection .mainCTA {
  display: flex;
  align-self: center;
}

.HeroSection .mainCTA input {
  color: #01573e;
  border: 1.56px solid #01573e;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 0.5em 0.8em;
  outline: none;
  font-size: 1em;
}

.HeroSection .mainCTA input::placeholder {
  color: #01573e;
  font-size: 0.9em;
}

.HeroSection .mainCTA button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbf8ee;
  background-color: #01573e;
  font-size: 0.9em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 0.8em 1.6em;
  border-radius: 0;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  gap: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.HeroSection .mainCTA button:hover {
  background-color: #01573ede;
  transition: all 600ms ease-in-out;
  box-shadow: 3px 3px 10px #77777785;
}

.HeroSection .Suggestions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4em;
}

.HeroSection .Suggestions .suggestion_MoreArticles {}